aiodns==3.0.0
aiohttp==3.8.1
aiomultiprocess==0.9.0
aiosignal==1.2.0
anyio==3.6.1
argcomplete==2.0.0
async-timeout==4.0.2
attrs==21.4.0
bc-python-hcl2==0.3.30
beautifulsoup4==4.10.0
boto3==1.20.51
botocore==1.23.51
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
checkov==2.0.901
click==8.0.3
click-option-group==0.5.3
cloudsplaining==0.4.10
colorama==0.4.4
ConfigArgParse==1.5.3
contextlib2==21.6.0
cyclonedx-python-lib==0.12.3
decorator==5.1.1
deep-merge==0.0.4
detect-secrets==1.1.0
djitellopy==2.4.0
docker==5.0.3
dockerfile-parse==1.2.0
dpath==1.5.0
fastapi==0.78.0
firebase-admin==5.2.0
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.26
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-firestore==2.5.3
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
grpcio==1.47.0
grpcio-status==1.47.0
h11==0.13.0
httplib2==0.20.4
idna==3.3
Jinja2==3.0.3
jmespath==0.10.0
jsonpath-ng==1.5.3
jsonschema==3.2.0
junit-xml==1.9
lark-parser==0.10.1
Markdown==3.3.6
MarkupSafe==2.0.1
msgpack==1.0.4
multidict==6.0.2
networkx==2.6.3
numpy==1.23.0
opencv-python==4.6.0.66
packageurl-python==0.9.7
packaging==21.3
ply==3.11
policy-sentry==0.12.2
policyuniverse==1.4.0.20220110
prettytable==3.0.0
proto-plus==1.20.6
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycparser==2.21
pydantic==1.9.1
PyJWT==2.4.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rsa==4.8
s3transfer==0.5.1
schema==0.7.5
semantic-version==2.9.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
starlette==0.19.1
tabulate==0.8.9
termcolor==1.1.0
toml==0.10.2
tqdm==4.62.3
twilio==7.9.3
types-setuptools==57.4.9
types-toml==0.10.3
typing_extensions==4.0.1
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.8
uvicorn==0.18.2
wcwidth==0.2.5
websocket-client==1.2.3
yarl==1.7.2
